<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bütçen</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>


    <div class="container body-content" style="width:100%; padding:0 !important; margin:0; display:contents;">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <div style="padding:5px">

                @{
                    foreach (var i in WebProject.Models.LanguageManager.AvailableLanguages)
                    {
                        @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Login", new { lang = i.LanguageCultureName }, null) <text> </text>
                    }
                }
            </div>
            <p>&copy; @DateTime.Now.Year - Bütçen</p>
        </footer>
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>